.attribution{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    margin-top: 3.5rem;

    color: #f2ebe3;
    background-color: #1c232b;
}
.attribution a{
    color: #6c7289;
}