.flex-container {
    display: flex;

    .flex-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100vw;

        &-img-container {
            flex: 1 1 100%;

            img {
                width: 100%;
            }
        }

        &-hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            padding: 1rem;

            &-title {
                font-size: 1.9rem;
            }

            &-text {
                text-align: center;
                font-size: .9rem;
                font-weight: 500;
                line-height: 1.5rem;
                color: var(--primary-color-grey);
            }

            &-button {
                font-weight: 700;
                padding: 1rem 1.5rem;
                border-radius: 15px;
                background-color: var(--primary-color-black);
                color: var(--primary-color-white);

                &:hover {
                    border: 2px solid var(--primary-color-black);
                    background-color: var(--primary-color-white);
                    color: var(--primary-color-black);
                }
            }

            &-partners {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 1rem;

                & img {
                    flex: 0 1 20%;
                    height: fit-content;
                }

            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .flex-container {

        .flex-item {
            justify-content: space-evenly;

            &-img-container {
                order: 2;
                flex: 0 1 35%;

                img {
                    width: 100%;
                }
            }

            &-hero {
                flex: 0 1 40%;
                align-items: flex-start;
                gap: 2.5rem;


                &-title {
                    font-size: 4.5rem;
                }

                &-text {
                    text-align: start;
                    font-size: 1.2rem;
                    font-weight: 500;
                    line-height: 1.7rem;
                }

                &-partners {
                    margin-top: 2.5rem;

                    & img {
                        height: fit-content;
                    }

                }
            }
        }
    }
}