.fullcontainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-grey-magnolia);
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  width: 100%;
  background-color: var(--color-white);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 100px;

  flex: 1 1 100%;
  margin: 0 7.5%;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .fullcontainer{
    align-items: center;
  }

  .mainContainer {
    flex-direction: row;
    max-width: 70%;
    padding: 15px;
    border-radius: 15px;
  }

  .formContainer {
    position: initial;
    height: 568px;
  }
}