.formContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;

  flex: 1 1 100%;
  padding: 30px 25px;

  border-radius: var(--border-radius-img);
  background-color: var(--color-grey-alabaster);
}

.info {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.info h2,
.info p {
  flex: 1 0 100%;
}
.info h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-blue-marine);
}
.info p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-grey-cool);
}

.form {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .formContainer {
    background-color: var(--color-gre-magnolia);
  }

  .info h2 {
    font-size: 1.8rem;
  }
}