.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  height: 100%;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;

  position: absolute;
  top: 100px;
  padding: 30px 25px;
  max-width: 345px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-img);
}

.info {
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.info h2,
.info p {
  flex: 1 0 100%;
}

.info h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-blue-marine);
}

.info p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-grey-cool);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 1rem;
  background-color: var(--color-white);
}

.buttonContainer:not(:has(button[type='button'])) {
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .form {
    height: 568px;
  }

  .formContainer {
    position: initial;
    align-items: flex-start;

    max-width: 70%;
    padding: 0;
    padding-top: 30px;
  }

  .info {
    margin-bottom: 20px;
  }

  .info h2 {
    font-size: 1.8rem;
  }

  .buttonContainer {
    max-width: 70%;
    position: initial;
    padding: 1rem 0;
  }
}