:root {
    --primary-black-color: #1c232b;
    --primary-white-color: #ffffff;
    --secondary-grey-color: #6c7289;
    --button-bg-color: #3c8067;
    --primary-bg-color: #f2ebe3;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

    width: 100vw;
    padding: 2em;
    background-color: var(--primary-bg-color);

    font-family: 'Montserrat', 'Fraunces', sans-serif;
    font-size: 14px;
}

.cards-container .card {
    flex: 0 0 23em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: var(--primary-white-color);
}

.card .img-container {
    width: 100%;
    height: 16em;
    border-radius: 10px 10px 0px 0px;

    background-image: url('../images/image-product-mobile.jpg');
    background-size: cover;
    background-position: center;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1.5em;
    border-radius: 0px 0px 10px 10px;
}

.card .card-content .card-header {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.card .card-content .card-header .card-header-p {
    color: var(--secondary-grey-color);
    font-size: .85em;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.card .card-content .card-header .card-header-title {
    color: var(--primary-black-color);
    font-size: 2.2em;
    font-family: 'Fraunces';
}

.card .card-content .card-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.card .card-content .card-main .card-description {
    color: var(--secondary-grey-color);
    line-height: 150%;
}
.card .card-content .card-main .card-price-container {
    display: flex;
    align-items: center;
    gap: 1em;
}
.card .card-content .card-main .card-price-container .card-price{
    color: var(--button-bg-color);
    font-family: 'Fraunces';
    font-size: 2em;
}
.card .card-content .card-main .card-price-container .card-price-old{
    color: var(--secondary-grey-color);
    text-decoration: line-through;
}

.card .card-content .card-main .card-button{
    display: flex;
    justify-content: center;
    gap: .4em;
    width: 100%;
    padding: 1em;
    border-radius: 8px;
    font-weight: 700;
    color: var(--primary-white-color);
    background-color: var(--button-bg-color);
    opacity: .85;
    transition: opacity .2s linear;
}
.card .card-content .card-main .card-button:hover {
    opacity: 1;
}

@media screen and (min-width: 1440px) {
    .cards-container .card {
        flex: 0 1 38em;
        flex-direction: row;
    }

    .card .img-container {
        flex: 1 1 50%;
        height: 28em;
        border-radius: 10px 0px 0px 10px;
        background-image: url('../images/image-product-desktop.jpg');
    }

    .card .card-content {
        flex: 1 1 50%;
        border-radius: 0px 10px 10px 0px;
    }
}