.container {
  flex: 1 0 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;

  padding: 15px;
  border: 1px solid var(--color-grey-cool);
  border-radius: var(--border-radius-img);

  cursor: pointer;
}

.container:hover{
  border-color: var(--color-blue-purplish);
}

.container:has(input[type='radio']:checked) {
  background-color: var(--color-grey-alabaster);
  border-color: var(--color-blue-purplish);
}

.inputRadio {
  display: none;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--color-blue-marine);
}

.price {
  font-size: .9rem;
  font-weight: 500;
  color: var(--color-grey-cool);
}

.promotion {
  font-size: .8rem;
  font-weight: 500;
  color: var(--color-blue-marine);
}

@media screen and (min-width: 1300px) {
  .container {
    flex: 1 1 30%;
    gap: 50px;
  }
}